# Задание
Создать приложение, которое будет из готового файла с данными «Сбербанка» выводить результат по параметрам:
- Тип данных
- Интервал дат
- Область
Визуализировать выводимые данные с помощью графика

In [3]:
import pandas as pd

In [35]:
dataset = 'opendata.csv'
df = pd.read_csv(dataset, encoding='Windows-1251')

In [36]:
df.head(3)

                                           name  region        date   value
0  Количество заявок на потребительские кредиты  Россия  2013-01-15  571147
1  Количество заявок на потребительские кредиты  Россия  2013-02-15  504508
2  Количество заявок на потребительские кредиты  Россия  2013-03-15  628803

In [42]:
df['name'].value_counts()[0:]

Средняя сумма заявки на потребительский кредит    6132
Количество заявок на потребительские кредиты      6132
Средняя сумма заявки на ипотечный кредит          6131
Количество заявок на ипотечные кредиты            6131
В среднем депозитов в руб. на человека            5124
В среднем руб. на текущем счете на человека       5124
Средняя пенсия                                    5124
Средние расходы по картам                         5124
Количество новых депозитов                        4956
Средняя сумма нового депозита                     4956
Средняя зарплата                                  4116
Средние траты в ресторане фастфуд                 3948
Средние траты в ресторане                         3948
Средний чек в формате Фастфуд                     3948
Средний чек в формате Ресторан                    3948
Name: name, dtype: int64

In [29]:
df['region'].value_counts()

Белгородская область                        891
Республика Саха (Якутия)                    891
Ставропольский край                         891
Ханты-Мансийский автономный округ — Югра    891
Республика Мордовия                         891
                                           ...
Республика Тыва                             891
Ивановская область                          891
Ленинградская область                       891
Калужская область                           891
Республика Ингушетия                        889
Name: region, Length: 84, dtype: int64

In [32]:
df['date'].min(), df['date'].max()

('2013-01-15', '2019-01-15')